@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Raleway", sans-serif;
}

body{
    /* display: grid; */
    /* grid-template:
    "header" 1086px
    "main" 2370.61px
    "footer" 345px / 430px; */
    background-color: #020228;
    gap: 50px;
}

body::-webkit-scrollbar {
    width: 7px; 
 }
  
  body::-webkit-scrollbar-track {
    background: #020228;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #ff00e5;
    border-radius: 20px;
    height: 250px;
  }

header{
    max-width: 430px;
    /* height: 920px; */
    /* grid-area: header; */
    overflow: hidden;
}

.header-content{
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    padding: 0 40px;
    color: white;
    z-index: 2;
}

.background{
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 920px;
    /* background-position: center, center; */
    z-index: -1;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}

.background::after{
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #020228, transparent);
     
}


@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.b-allplans:hover{
    cursor: pointer;
    background: transparent;
    border: 2px solid #AC01A6;
}

.button-wiggle:hover{
    cursor: pointer;
    background: transparent;
    border-radius: 100px;
    border: 2px solid #AC01A6;
    /* border-image-source: linear-gradient(#AC01A6,#AC01A6); */
    border-image-outset: 2px;
    border-image-width: 2px;
    border-image-slice: 10;
}

.b-allplans:hover{
    transform: scale(1.06);
    animation: plan-animation 0.5s;
}

@keyframes plan-animation{
    
}

.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    max-width: 354px;
    height: 58px;
    gap: 16px;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
    font-size: 3rem;
    font-weight: bold;
}

header h1 span{
    font-size: 2rem;
    font-weight: lighter;
    display: block;

}

.divider{
    border-image-source: linear-gradient(90deg, #5516ba,rgba(255, 0, 229, 0.5) 80%);
    border-image-width: 0 0 4px 0;
    border-image-outset:0 0 30px 0; 
    border-image-slice: 10;
    margin-bottom: 40px;
    width: 70%;
    max-width: 700px;
}

.h2{
    max-width: 245px;
    flex-direction: column;
    align-items: center;
}

.h2 h2{
    font-family: "Quicksand", sans-serif;
    font-size: 1.41rem;
    font-weight: 300; 
    text-align: center;
}

.h2 h2 .value{
    font-size: 2.5rem;
    font-weight: bold;
}
.h2 h2 .month{
    display: flex;
    align-items: end;
    font-size: 1.1rem;
    font-weight: 300;
}
.value-month{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}



.h2 button{
    width: 243px;
    height: 51px;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    padding: 16px 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
    background-image:linear-gradient(45deg, #8F2EE5,#2000b0, #090042);

}


.h2 .bottom-text{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
    background-color: #0000004D;
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

nav a img{
    max-width: 100%;
    height: 20px;
}

.button-nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.button-inside{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 33px;
    margin-left: 24px;
    border-radius: 100px;
    background-color: #B535F6;
}

nav .b1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 0.80rem;
    
}

nav .b2{
    /* max-width: 162.55px; */
    max-width: 1.5fr;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.80rem;
    color: rgb(255, 255, 255);

    
}

footer{
    max-width: 1200px;
    /* height: 205px ; */
    /* grid-area: footer; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 16px 14px;
}

.footer-home{
    margin: 100px 16px 14px;    
}
.href{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 251px;
    max-width: 432px;
    margin-bottom: 15px;
}

footer .link{
    margin-top: 13px;
    width: 354px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
}

.link{
    color: #9E86FF;  
}

.link:visited{
    color: white;
}

.footer-text{
    display: flex;
    flex-wrap: wrap;
    /* min-width: 382px; */
    margin-bottom: 80px;
}

.text{
    max-width: 352px;
    min-width: 277px;
    font-size: 0.75rem;
    font-family: "Quicksand", "sans-serif";
    color: #9E86FF;
}


.footer-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    width: 382px;
    /* cursor: pointer; */
}


.footer-img img{
    margin-left: 33px;
    margin-bottom: 30px;
}
